---
BasedOnStyle: Microsoft
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: '4'
PointerAlignment: Left
SpacesBeforeTrailingComments: '2'
TabWidth: '4'
UseTab: Never

...
